<head th:fragment="header">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link th:href="@{/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet"/>

  <!-- bootstrap 图标字体 -->
  <link th:href="@{/css/font-awesome.min.css?v=4.7.0}" rel="stylesheet"/>

  <!-- bootstrap-table -->
  <link th:href="@{/libs/bootstrap-table/bootstrap-table.min.css?v=1.11.0}" rel="stylesheet"/>

  <link th:href="@{/libs/bootstrap-treetable/bootstrap-treetable.css}" rel="stylesheet"/>

  <link th:href="@{/css/style.css?v=4.1.0}" rel="stylesheet"/>
  <link th:href="@{/css/smile.css?v=1.0.0}" rel="stylesheet"/>
</head>

<div th:fragment="footer">

  <script th:src="@{/js/jquery.min.js?v=2.1.4}" ></script>
  <script th:src="@{/js/bootstrap.min.js?v=3.3.6}" ></script>

  <!-- bootstrap-table -->
  <script th:src="@{/libs/bootstrap-table/bootstrap-table.min.js?v=1.11.0}"></script>
  <script th:src="@{/libs/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?v=1.11.0}"></script>

  <script th:src="@{/libs/bootstrap-treetable/bootstrap-treetable.js}"></script>

  <!-- jquery-validate 表单验证插件 -->
  <script th:src="@{/libs/validate/jquery.validate.min.js}"></script>
  <script th:src="@{/libs/validate/messages_zh.min.js}"></script>

  <!--遮罩层-->
  <script th:src="@{/libs/blockUI/jquery.blockUI.js}"></script>

  <script th:src="@{/libs/layer/layer.min.js?v=3.1.1}"></script>

  <script th:src="@{/js/smile.js?v=1.0.0}"></script>
  <script th:inline="javascript"> var ctx = [[@{/}]];</script>

</div>