<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SMILE</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body class="fixed-sidebar full-height-layout gray-bg">

<div id="wrapper">

  <!-- 左侧导航栏开始 -->
  <nav class="navbar-default navbar-static-side">

  </nav>
  <!-- 左侧导航栏结束 -->

  <!--右侧部分开始-->
  <div id="page-wrapper" class="gray-bg dashbard-1">

  </div>
  <!--右侧部分结束-->

</div>

</body>
</html>